<html lang="en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="$var(metaDescription)$" name="Description" />
	<link href="lp-smile-makeover-styles.css" type="text/css" rel="stylesheet">
	<link rel="canonical" href="http://www.$var(siteURL)$/$var(pageURL)$.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon-144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon-72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon-57.png" />
    <link rel="icon" href="assets/images/favicon.png">
    <link href="https://tntwebsites.com/tnticons/css/fontello.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/ily2inn.css">
	<link rel="stylesheet" href="https://use.typekit.net/jqj4veb.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<!-- <header>
	<div id="nav" class="split">
		<div id="header-details">
			<a href="tel:+6307736966" class="pho">
				<i class="icon-phone"></i>(630) 773-6966
			</a>
			<address>
				<a href="https://goo.gl/maps/Xfwgx6xtZMwLUzQJA" target="_blank" class="address">
					<i class="icon-location"></i>
					500 Park Blvd SUITE 180C <br>
Itasca, IL 60143</a>
			</address>
		</div>
		<a href="index.html" class="logo"><img src="assets/images/lp-smile-makeover-logo.png" alt="Charm Smile Dental logo"></a>
		<div id="btn-div"><a href="lp-smile-makeover-form.html" class="btn"><i class="icon-calendar-1"></i>Request A Consultation</a></div>
		<div id="mobile-btns">
			<a href="tel:6307736966" class="phone">
				<span>Call Today!</span>
				(630) 773-6966
			</a>
			<a href="lp-smile-makeover-form.html" class="req">
				<span>Request</span>
				A Consultation
			</a>
		</div>
	</div>
</header> -->


<header>
	<div id="nav">
		<div id="header-details">
			<a href="tel:+6307736966" class="pho">
				<i class="icon-phone"></i>(630) 773-6966
			</a>
			<address>
				<a href="https://goo.gl/maps/Xfwgx6xtZMwLUzQJA" target="_blank" class="address">
					<i class="icon-location"></i>
					500 Park Blvd SUITE 180C <br>
					Itasca, IL 60143</a>
			</address>
		</div>
		<a href="index.html" class="logo">
			<img src="assets/images/lp-smile-makeover-logo.png" alt="Charm Smile Dental logo">
		</a>
		<div id="btn-div"><a href="lp-smile-makeover-form.html" class="btn">
			<!-- <i class="icon-calendar-1"></i> -->
			Request A Consultation</a>
		</div>
		<div id="mobile-btns">
			<a href="tel:6307736966" class="phone">
				<span>Call Today!</span>
				(630) 773-6966
			</a>
			<a href="lp-smile-makeover-form.html" class="req">
				<span>Request</span>
				A Consultation
			</a>
		</div>
	</div>
</header>

</html>
