@charset "UTF-8";
.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.65em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

img {
  max-width: 100%;
}

header {
  z-index: 101;
}

footer {
  z-index: 102;
}

.fixons {
  z-index: 103;
}

.flex-ed, .col-flex-ed {
  display: flex;
}

.flex-ed {
  flex-flow: row wrap;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

.star:before {
  font-size: 28px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #febb21;
  letter-spacing: 0.3em;
}

.desktop-hidden {
  display: none !important;
}

.desktop-hide {
  display: none !important;
}

/* FIXED TABS */
#fixed-tabs {
  display: none;
  position: fixed;
  right: 0;
  text-align: center;
  line-height: 1;
  font-size: 0;
  z-index: 1100;
}

#fixed-tabs a {
  font-family: "pragmatica", sans-serif;
  font-size: 12px;
  background-color: #7d7e82;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: width 0.3s, background-color 0.3s;
}

#fixed-tabs i {
  font-size: 16px;
}

#fixed-tabs i,
#fixed-tabs i:before {
  margin: 0 3px 0 0;
}

#fixed-tabs em {
  font-size: 14px;
  font-style: normal;
  margin-top: 4px;
  font-weight: 400;
  text-transform: uppercase;
}

#fixed-tabs strong {
  font-weight: 900;
}

#fixed-tabs .ra,
#fixed-tabs .map {
  background-color: #0F3457;
}

#fixed-tabs .call {
  background-color: #C7DEE8;
  color: #000;
}

#fixed-tabs .ra {
  flex: 2;
}

@media (max-width: 1000px) {
  #fixed-tabs {
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  #fixed-tabs a {
    padding: 12px 0;
    flex: 1;
  }
  #fixed-tabs a span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
    display: none;
  }
  #fixed-tabs a strong {
    display: none;
  }
  #fixed-tabs .call,
  #fixed-tabs .map {
    display: block;
  }
}
body {
  position: relative;
  background-color: #fff;
  font-family: "pragmatica", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

p {
  font: 400 20px/28px "pragmatica", sans-serif;
  color: #000;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "pragmatica", sans-serif;
}

.mobile-banner-reviews {
  display: none;
}

h1 {
  margin: 0;
  text-align: center;
  color: #000;
  font: 700 70px/1.1 "pragmatica", sans-serif;
  letter-spacing: -0.02em;
}

h2 {
  color: #000;
  text-align: left;
  font: 600 55px/1.1 "pragmatica", sans-serif;
}
h2 span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  font-family: "pragmatica", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 32px;
  line-height: 1.41;
}

.h3 {
  color: #000;
  font: 500 22px/1 "pragmatica", sans-serif;
  letter-spacing: -0.02em;
}

.h4 {
  letter-spacing: 0.05em;
  color: #0081B9;
  font: 700 16px/1.1 "pragmatica", sans-serif;
  text-transform: uppercase;
  margin: 10px auto;
}

/* header */
header {
  position: relative;
  padding: 0;
  z-index: 100;
  background-color: #0F3457;
  position: relative;
  padding: 0.4rem 0 1rem;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 0.1rem solid #fff;
  bottom: 0.7rem;
  left: 0;
  opacity: 0.5;
}
header .address {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  display: flex;
}
header .address:hover {
  color: #C7DEE8;
}
header .address i:before {
  color: #0081B9;
  font-size: 22px;
  margin-left: -10px;
  margin-right: 15px;
}
header #nav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header #nav .btn {
  font-family: "pragmatica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  background-color: #C7DEE8;
  color: #0F3457;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 25rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
header #nav .btn span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.15em;
}
header #nav .btn .free {
  display: inline;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 0;
}
header #nav .btn i:before {
  margin-right: 10px;
  margin-top: -4px;
}
header #nav .btn:hover {
  background-color: #0081B9;
  color: #fff;
}
header #nav #header-details h2 {
  color: #0081B9;
  font-family: "pragmatica", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header #nav #header-details .header-phone {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.2em;
  line-height: 1.6;
  color: #fff;
  display: flex;
  align-items: center;
}
header #nav #header-details .header-phone i:before {
  font-size: 22px;
  margin-left: -2px;
  margin-right: 10px;
  color: #0081B9;
}
header #nav #header-details .header-phone:hover {
  color: #C7DEE8;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 1;
}
header #nav #mobile-btns .btn {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: clamp(0.7rem, 3.9vw, 1.3rem);
  letter-spacing: 0.03em;
  line-height: 1;
  background-color: #C7DEE8;
  color: #0F3457;
  text-transform: capitalize;
  gap: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border-radius: 0;
  margin: 0;
}
header #nav #mobile-btns .btn .free {
  font-size: clamp(0.8rem, 3.9vw, 1.9rem);
}
header #nav #mobile-btns .btn span {
  font-family: "pragmatica", sans-serif;
  font-size: clamp(0.8rem, 3.7vw, 1rem);
  font-weight: 600;
  letter-spacing: 0.03em;
  width: 100%;
}
header #nav #mobile-btns .phone,
header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header #nav #mobile-btns .phone span,
header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 4.5vw, 1.5rem);
  line-height: 1.1;
  background-color: #0081B9;
  padding: 5px;
}
header #nav #mobile-btns .phone:hover {
  background-color: #0F3457;
}
header #nav #mobile-btns .phone span {
  font-family: "pragmatica", sans-serif;
  font-size: clamp(0.6rem, 3.1vw, 17.1px);
  font-weight: 600;
  color: #0F3457;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
header #nav #mobile-btns #mobile-special .container {
  margin: 10px 0;
  border-top: 2px solid #afb1b1;
  border-bottom: 2px solid #afb1b1;
  padding: 5px;
}
header #nav #mobile-btns #mobile-special .container h4 {
  color: #C7DEE8;
  font-size: 22px;
  margin: 0;
}
header #nav #mobile-btns #mobile-special .container small {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.subpage {
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 15px;
}

.phone {
  color: #0081B9;
  font-size: 35px;
  line-height: 1.1;
  font-family: "pragmatica", sans-serif;
  font-weight: 400;
}
.phone span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
}
.phone:hover {
  color: #0081B9;
}

.address {
  font-size: 24px;
  line-height: 1.4;
  color: #000;
}

.address:hover {
  color: #0081B9;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation: slideIn 0.8s both;
  box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
  z-index: 2000;
}
.fix-nav header .logo img {
  max-height: 70px;
}

.btn,
.btn-alt {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 10px 25px;
  color: #fff;
  font: 700 14px/1 "pragmatica", sans-serif;
  transition: border 0.3s;
  background-color: #0081B9;
  transition: 0.3s all;
  text-transform: uppercase;
  border-radius: 6px;
  letter-spacing: 1px;
}
.btn span,
.btn-alt span {
  display: block;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.btn:hover, .btn:hover,
.btn-alt:hover,
.btn-alt:hover {
  background-color: #0F3457;
  border-color: #0F3457;
  color: #fff;
}

#time {
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 10px;
}
#time h2 {
  text-align: center;
}

.safe-bar {
  font-family: "pragmatica", sans-serif;
  background-color: #C7DEE8;
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 1.9rem 1rem 1.5rem;
  text-align: center;
  color: #000;
  transition: 0.3s all;
}
.safe-bar span {
  font-weight: 300;
  font-size: 30px;
  color: #000;
}
.safe-bar span:before {
  color: #0081B9;
  content: "✓";
  font-size: 40px;
  position: relative;
  bottom: -3px;
  left: -11px;
}
@media (max-width: 1000px) {
  .safe-bar span {
    font-size: clamp(0.6rem, 5.7vw, 6.2rem);
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
.safe-bar span {
  margin: 0 20px;
}

#hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#hero .flex-ed {
  background-color: #F2F3F3;
}
#hero .flex-ed figure {
  margin: 0;
  position: relative;
  flex: 1 1 62%;
  text-align: center;
}
#hero .flex-ed figure img {
  width: 100%;
  position: relative;
  width: 100%;
}
#hero .flex-ed figure .caption {
  position: absolute;
  bottom: 0;
  background-color: none;
  bottom: 0.5rem;
  left: 1rem;
}
#hero .flex-ed figure .caption a {
  font-family: "pragmatica", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #fff;
  text-transform: uppercase;
}
#hero .flex-ed figure .caption a:hover {
  color: #0081B9;
}
@media (max-width: 1000px) {
  #hero .flex-ed figure .caption a {
    position: initial;
    transform: initial;
  }
}
#hero .flex-ed article {
  position: relative;
  z-index: 2;
  padding: 1rem 2rem;
  display: flex;
  flex: 0 1 38%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#hero .flex-ed article #hero-accent-img {
  margin-bottom: -15px;
}
#hero .flex-ed article * {
  color: #fff;
}
#hero .flex-ed article small {
  opacity: 0.4;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
}
#hero .flex-ed article h1 {
  font-family: "pragmatica", sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 2.9vw, 4.3rem);
  letter-spacing: 0.05em;
  line-height: 1.3;
  color: #303542;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1000px) {
  #hero .flex-ed article h1 {
    font-size: clamp(0.6rem, 8.9vw, 6.2rem);
    line-height: 1.4;
  }
  #hero .flex-ed article h1:before {
    display: none;
  }
  #hero .flex-ed article h1:after {
    display: none;
  }
}
#hero .flex-ed article h1 span {
  display: block;
}
#hero #stamps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#hero #stamps img {
  margin: 0;
}

.split-section {
  display: flex;
  justify-content: center;
  padding: 7rem 0 9rem;
  background-color: #00587E;
}
.split-section .container {
  max-width: 1200px;
  display: flex;
  gap: 2rem;
}
.split-section .container figure, .split-section .container article {
  flex: 1;
}
.split-section .container figure {
  position: relative;
  align-self: center;
}
.split-section .container figure img {
  margin: 0;
}
.split-section .container figure figcaption {
  position: absolute;
  width: 100%;
  bottom: -3rem;
  text-align: right;
}
.split-section .container figure figcaption a {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}
.split-section .container figure figcaption a:hover {
  color: #C7DEE8;
}
@media (max-width: 1000px) {
  .split-section .container figure figcaption a {
    font-size: clamp(1rem, 4.6vw, 5.4rem);
  }
}
.split-section .container article {
  order: -1;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 50%;
  padding: 0 5rem 0 0;
}
.split-section .container article h2 {
  font-family: "pragmatica", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 1000px) {
  .split-section .container article h2 {
    font-size: clamp(0.9rem, 12.2vw, 9.3rem);
  }
}
.split-section .container article ul {
  list-style: none;
}
.split-section .container article ul li {
  font-family: "pragmatica", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}
.split-section .container article ul li:before {
  color: #fff;
  content: "✓";
  font-size: 40px;
  position: relative;
  bottom: -3px;
  left: -11px;
}
@media (max-width: 1000px) {
  .split-section .container article ul li {
    font-size: clamp(0.7rem, 5.8vw, 5.4rem);
  }
}

#reviews {
  background: url(assets/images/lp-emergency-review-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
}

#review-container {
  height: 427px;
  position: relative;
  background: #fff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.15);
  max-width: 1130px;
  color: #fff;
  z-index: 100;
  align-items: center;
  padding: 0;
  margin: auto;
  flex-wrap: nowrap;
  border: 0.5rem solid #0081B9;
  border-radius: none;
}
#review-container:after, #review-container:before {
  content: "";
  background-color: #0F3457;
  height: 82%;
  width: 0.5rem;
  position: absolute;
  z-index: 1;
}
#review-container:after {
  right: -8px;
  top: 9%;
  border-right: 2px solid #8C7B63;
}
#review-container:before {
  left: -8px;
  top: 9%;
  border-left: 2px solid #8C7B63;
}
#review-container span {
  font-family: "pragmatica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.15em;
}

#google {
  background-color: #F2F3F3;
  flex: 0 1 225px;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px 0 0 8px;
}
#google img {
  padding: 10px 0 15px;
}
#google > div {
  margin-top: 25px;
  padding: 5px 25px;
}
#google p {
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-family: "pragmatica", sans-serif;
  letter-spacing: 1.5px;
}

.comment {
  flex: 1 0 900px;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  position: relative;
  background: #fff;
}
.comment p {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: 29px;
  line-height: 1.4;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000;
}
@media (max-width: 1000px) {
  .comment p {
    font-size: clamp(1rem, 6.3vw, 6.4rem);
    line-height: 1.3;
  }
}
.comment .caption2 {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-self: flex-end;
  text-transform: uppercase;
  margin: 5px 0 0;
}

#emergency-icons-section {
  background: url(assets/images/lp-emergency-icon-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 6rem 1rem 7rem;
}
#emergency-icons-section .container {
  max-width: 1295px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#emergency-icons-section .container h2 {
  font-family: "pragmatica", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #0F3457;
  margin: 0;
}
@media (max-width: 1000px) {
  #emergency-icons-section .container h2 {
    font-size: clamp(0.9rem, 11.2vw, 3.3rem);
  }
}
#emergency-icons-section .container .flex-col {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#emergency-icons-section .container .flex-col .flex-row {
  display: flex;
  justify-content: space-between;
}
#emergency-icons-section .container .flex-col .flex-row figure {
  flex: 0 1 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
#emergency-icons-section .container .flex-col .flex-row figure figcaption {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
@media (max-width: 1000px) {
  #emergency-icons-section .container .flex-col .flex-row figure figcaption {
    font-size: clamp(0.9rem, 5.4vw, 9.3rem);
  }
}
#emergency-icons-section .container .flex-col .flex-row img {
  margin: 0;
}

.pay {
  background: url(assets/images/lp-emergency-pay-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 6rem 1rem 7rem;
}
.pay .container {
  max-width: 1295px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.pay .container h2 {
  font-family: "pragmatica", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #0F3457;
  text-align: center;
}
@media (max-width: 1000px) {
  .pay .container h2 {
    font-size: clamp(0.9rem, 11.2vw, 3.3rem);
  }
}
.pay .container .flex-row {
  display: flex;
  justify-content: space-between;
}
.pay .container .flex-row figure {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem 0;
}
.pay .container .flex-row figure:nth-of-type(2) {
  border-left: #0F3457 solid 1px;
  border-right: #0F3457 solid 1px;
}
.pay .container .flex-row figure figcaption {
  font-family: "pragmatica", sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .pay .container .flex-row figure figcaption {
    font-size: clamp(0.9rem, 6.6vw, 9.3rem);
  }
}
.pay .container .flex-row img {
  margin: 0;
}

#flexible {
  background-color: #fff;
}
#flexible article {
  order: 1;
}
#flexible article h2 {
  color: #0F3457;
}
#flexible article li {
  color: #000;
}
#flexible article li::before {
  color: #0F3457;
}
#flexible .container figure figcaption {
  text-align: left;
}
#flexible .container figure figcaption a {
  color: #000;
}
#flexible .container figure figcaption a:hover {
  color: #C7DEE8;
}

footer {
  background: #0F3457;
  padding: 7rem 0 0;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 5rem;
}
footer .footer-content .logo-container {
  align-self: center;
}
footer .footer-content .contact-container article {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .footer-content .contact-container article h3 {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}
footer .footer-content .contact-container article address a {
  font-weight: normal;
  font-size: 20px;
  font-family: "pragmatica", sans-serif;
  color: #fff;
  text-align: left;
}
footer .footer-content .contact-container article address a:hover {
  color: #0081B9;
}
@media (max-width: 1000px) {
  footer .footer-content .contact-container article address a {
    font-size: clamp(1rem, 6vw, 5.4rem);
  }
}
footer .footer-content .contact-container article .phone a {
  font-family: "pragmatica", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
footer .footer-content .contact-container article .phone a:hover {
  color: #C7DEE8;
}
@media (max-width: 1000px) {
  footer .footer-content .contact-container article .phone a {
    font-size: clamp(1rem, 9.1vw, 5.4rem);
    line-height: 1.3;
  }
}
footer .footer-content .contact-container article .hours {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-right: 0.4rem;
}
footer .footer-content .contact-container article .hours li {
  font-family: "pragmatica", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 1000px) {
  footer .footer-content .contact-container article .hours li {
    font-size: clamp(1rem, 5vw, 5.4rem);
  }
}
footer .footer-content .contact-container .office h3 {
  margin-bottom: 2rem;
}
footer .footer-content > figure {
  flex: 0 1 580px;
}
footer .copy {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 40px 10px 20px;
  background-color: #0d0d0d;
  margin: auto;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1000px) {
  footer .copy {
    font-size: clamp(0.6rem, 3.8vw, 5.4rem);
    line-height: 1.5;
  }
}
footer .copy a,
footer .copy p {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  footer .copy a,
  footer .copy p {
    font-size: clamp(0.6rem, 3.8vw, 5.4rem);
    line-height: 1.5;
  }
}
footer .copy p {
  margin: 20px auto;
  max-width: 1090px;
}
footer .copy a {
  font-family: "pragmatica", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0081B9;
  color: #0081B9;
}
footer .copy a:hover {
  color: #C7DEE8;
}
@media (max-width: 1000px) {
  footer .copy a {
    font-size: clamp(0.6rem, 3.8vw, 5.4rem);
    line-height: 1;
  }
}
footer .copy a:hover {
  color: #fff;
}
footer .copy span {
  margin: 0 2px;
}
footer figure {
  color: #fff;
}

.hours {
  display: table;
  margin: 0;
  text-align: left !important;
  position: relative;
  padding-left: 40px;
}

.hours label {
  width: 131px;
  display: inline-block;
  font-weight: 600;
}

.frame {
  overflow: hidden;
  display: table;
  width: 100%;
  margin: auto;
  flex: 0 1 50%;
}
.frame iframe {
  height: 615px;
  display: block;
  margin: auto;
  width: 100%;
}

::-moz-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

#lp-appointment-form {
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}
#lp-appointment-form h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 10px auto 40px;
  color: #000;
}
#lp-appointment-form > p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}
#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 550px;
  padding-right: 3px;
}
#lp-appointment-form label {
  display: none;
}
#lp-appointment-form input,
#lp-appointment-form textarea,
#lp-appointment-form select {
  width: 93%;
  display: table;
  margin: 10px auto;
  background-color: #d3d3d3;
  color: #000;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: none;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
#lp-appointment-form input:focus,
#lp-appointment-form textarea:focus,
#lp-appointment-form select:focus {
  background-color: #e3e3e3;
}
#lp-appointment-form textarea {
  height: 200px;
  margin-bottom: 30px;
}
#lp-appointment-form textarea:focus,
#lp-appointment-form input:focus,
#lp-appointment-form button:focus,
#lp-appointment-form select:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: #0F3457;
}
#lp-appointment-form .submitBtn {
  text-align: center;
  width: 200px;
  margin: auto;
  display: table;
}

@media (max-width: 1340px) {
  #hero figure {
    margin: auto;
  }
}
@media (min-width: 1650px) {
  #hero figure {
    flex: 0 1 860px;
  }
}
@media (max-width: 1520px) {
  #hero {
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .offer:nth-of-type(2) article {
    padding-bottom: 0;
  }
  #hero {
    background-size: cover;
  }
}
@media (max-width: 1180px) {
  #header-details {
    display: none;
  }
}
@media (max-width: 1080px) {
  .desktop-hide {
    display: initial !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .address {
    font-size: 16px;
  }
  .phone {
    font-size: 32px;
  }
  .over {
    top: -60px;
    left: 5px;
  }
  h1 {
    font-size: 60px;
  }
  #hero article img {
    margin: 10px auto;
  }
  #success {
    margin: 0;
    padding: 5rem 1.5rem;
  }
  #success .flex-ed {
    box-shadow: 3px 0px 10px lightgray;
    margin: 0;
    padding: 1rem 2rem 3rem;
  }
  #success .flex-ed article {
    margin: 0;
    padding: 0;
  }
  #success .flex-ed article h2 {
    font-size: clamp(0.9rem, 10.4vw, 9.3rem);
  }
  #success .flex-ed .dot-container {
    bottom: 3%;
    right: 11%;
  }
}
@media (max-width: 1024px) {
  header #nav .logo {
    margin: auto;
    width: 100%;
  }
  header #nav .btn {
    margin: 20px auto 0;
  }
  #hero {
    background-image: none;
  }
  #hero .flex-ed article {
    padding: 40px 20px;
    flex: 1;
    order: -1;
  }
  #hero .flex-ed figure {
    flex: 100%;
  }
  #hero .flex-ed figure img {
    display: block;
    width: 100%;
  }
  #hero .flex-ed figure .caption {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  #mobile-btns {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .desktop-hidden {
    display: initial !important;
  }
  header:after {
    display: none;
  }
  header .flex-ed {
    justify-content: space-around;
  }
  header #nav {
    padding: 0;
  }
  header #nav > .btn {
    display: none;
  }
  header #nav .logo {
    margin: 20px auto;
  }
  .safe-bar {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .safe-bar span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .safe-bar span::before {
    position: initial;
  }
  #emergency-icons-section {
    padding: 5rem 1.5rem;
  }
  #emergency-icons-section .container {
    max-width: 100%;
  }
  #emergency-icons-section .container h2 {
    text-align: center;
  }
  #emergency-icons-section .container .flex-col .flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .split-section {
    padding: 5rem 1.5rem 7rem;
    display: flex;
    flex-direction: column;
  }
  .split-section .container {
    flex-direction: column;
  }
  .split-section .container article {
    order: -1;
    padding: 0;
    text-align: center;
  }
  .split-section .container article h2 {
    text-align: center;
  }
  .split-section .container article ul {
    padding: 0;
  }
  .split-section .container article ul li {
    text-align: left;
  }
  .split-section .container article ul li::before {
    position: initial;
  }
  .split-section .container figure figcaption {
    text-align: center;
  }
  .pay .container {
    max-width: 100%;
  }
  .pay .container .flex-row {
    flex-direction: column;
    gap: 3rem;
  }
  .pay .container .flex-row figure {
    border: none !important;
    padding: 0;
  }
  #flexible .container article {
    order: -1;
  }
  #flexible .container article ul li {
    display: flex;
    gap: 1rem;
    font-size: clamp(0.7rem, 7.5vw, 5.4rem);
  }
  #flexible .container figure figcaption {
    text-align: center;
  }
  .insurance h2:before {
    content: none;
  }
  .insurance h2:after {
    content: none;
  }
  #hero .flex-ed article .specials {
    flex-direction: column;
    padding: 0;
  }
  #hero .flex-ed article .specials .special-container {
    padding: 2rem 1rem;
  }
  .insurance .container h2:before {
    display: none;
  }
  .insurance .container #insurance-list img {
    margin: 20px auto;
  }
  .insurance .container #insurance-list span:last-of-type {
    display: block;
  }
  #first {
    box-shadow: 3px 0px 10px lightgray;
    border-radius: 0;
    margin: 4rem 1.5rem 3rem;
  }
  #first .flex-ed {
    padding: 0;
    margin: 0;
  }
  #first .flex-ed article {
    padding: 0;
    padding: 10px 5px 10px 10px;
  }
  #reviews {
    padding: 60px 30px;
    background: url(assets/images/lp-emergency-review-bkg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #reviews #review-container {
    height: auto;
    border: none;
    flex-wrap: wrap;
    border-radius: none;
  }
  #reviews #review-container:before, #reviews #review-container:after {
    display: none;
  }
  #reviews #review-container:before {
    border-left: 1px solid #0081B9;
  }
  #reviews #review-container:after {
    border-right: 1px solid #0081B9;
  }
  #reviews #review-container #google {
    background-color: #fff;
  }
  #reviews #review-container .comment {
    border-radius: 0 0 20px 20px;
    padding: 0 20px 60px;
    flex: 1;
  }
  #reviews #review-container .comment p {
    text-align: center;
  }
  #reviews #review-container .comment .caption2 {
    width: 100%;
    margin-top: 10px;
  }
  #reviews #review-container #google {
    flex: 0 1 100%;
    border-radius: 20px 20px 0 0;
  }
  #reviews #review-container #google .star {
    margin: 10px auto 20px;
  }
  #reviews #review-container #google p {
    margin: 0 auto;
  }
  #reviews #review-container #google p img {
    margin: 0 auto;
  }
  #reviews #review-container #google > div {
    margin-top: 40px;
  }
  .insurance .container {
    padding: 1rem 1.5rem;
    text-align: center;
  }
  .insurance .container h2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
  }
  .insurance .container h2:after {
    content: "";
    width: 150px;
    height: 2px;
    color: #0F3457;
    position: absolute;
    bottom: 10px;
    margin: auto;
  }
  .insurance .container #insurance-list {
    flex-direction: column;
    gap: 1.6rem;
    margin: 0;
  }
  .insurance .container #insurance-list img {
    margin: 0;
  }
  .insurance .container .note {
    text-align: center;
  }
  .insurance .container #disclaimer {
    font-size: clamp(0.8rem, 4.2vw, 5.4rem);
    text-align: center;
  }
  #about {
    box-shadow: 3px 0px 10px lightgray;
    margin: 50px 30px 4rem;
    padding: 0;
    border-radius: none;
  }
  #about .flex-ed {
    margin: 0;
    padding-top: 0;
  }
  #about .flex-ed article {
    margin: 0;
  }
  .over {
    top: -30px;
  }
  footer {
    margin: 0;
    background: #0F3457;
    border-top: none;
  }
  footer .footer-content {
    padding: 0rem 1.5rem 4rem;
    flex-direction: column;
    border-top: none;
    gap: 3rem;
  }
  footer .footer-content .contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-content .contact-container article {
    padding: 0;
    margin: 0;
    gap: 1rem;
  }
  footer .footer-content .contact-container article .hours li {
    gap: 3rem;
  }
  footer h2 {
    font-size: 50px;
  }
  footer h3 {
    margin-top: 0.5rem;
  }
  footer .grid {
    display: flex;
    flex-direction: column;
  }
  footer figure {
    display: none;
  }
  footer .footer-dashed {
    display: initial;
  }
  footer .grid .footer-box article .box-heading {
    padding-bottom: 0;
  }
  footer .copy {
    padding: 3rem 1.5rem 7rem;
  }
  .frame iframe {
    height: 400px;
  }
  footer .footer-content .contact-container h2 {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    letter-spacing: 0.02em;
  }
  footer .footer-content .contact-container h2:after {
    content: url(assets/images/lp-ortho-dashed-mobile.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -3.8rem;
  }
  footer .footer-content .contact-container h3, footer .footer-content .contact-container .office h3 {
    margin-bottom: 0.5rem;
  }
  footer .grid .footer-box {
    padding-bottom: 0;
  }
  footer .grid .footer-box article {
    margin-bottom: 1rem;
  }
}
@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .flex-ed {
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
  }
  header .btn-alt,
  header address {
    flex: 0 1 50%;
  }
  header .logo {
    width: 100%;
    margin: 10px;
    max-width: none;
  }
  header .btn-alt {
    color: #000;
    color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 3px;
  }
  header .btn-alt:hover {
    color: #fff;
    background-color: #3d3d3d;
  }
  header .btn-alt:after {
    display: none;
  }
  header .phone {
    color: #fff;
    background-color: #0F3457;
    border: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: 700;
    padding: 8px 0;
    flex: 1;
    color: #fff;
  }
  header .phone span {
    color: #fff;
  }
  header .phone:hover {
    background-color: #3d3d3d;
    color: #fff;
  }
  .mobile-banner-reviews {
    display: block;
    background-color: #f3f3f3;
    text-transform: uppercase;
  }
  .mobile-banner-reviews img,
  .mobile-banner-reviews p {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-banner-reviews p {
    padding: 0 50px;
    font-weight: 700;
  }
  #hero .flex-ed img {
    flex: 100%;
  }
  #hero .caption {
    left: 50%;
    transform: translateX(-50%);
  }
  #why #icons div {
    flex: 100%;
    margin: 20px auto;
  }
  footer article {
    margin-bottom: 30px;
  }
  .insurance .flex-ed {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  #google > div {
    margin-top: 20px;
  }
  #google p {
    margin-bottom: 0;
  }
  .comment .caption2 {
    margin-top: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
  .insurance {
    padding: 0;
  }
}
@media (max-width: 590px) {
  h2 {
    margin-top: 10px;
  }
  .safe-bar {
    letter-spacing: 0;
  }
  .safe-bar span {
    margin: 0;
  }
  #hero figure .caption a {
    margin: 5px;
  }
  #hero figure .caption {
    display: flex;
    flex-wrap: wrap;
  }
  #hero > * {
    flex: auto;
  }
  .insurance #insurance-list span {
    width: 100%;
    display: block;
    margin: 15px 0;
  }
  #reviews {
    margin-top: 50px;
  }
  footer h2 {
    margin-top: 0;
    padding: 0 10px;
  }
  footer article {
    padding-top: 20px;
  }
  footer article p {
    margin-top: 5px;
  }
  footer figure {
    margin-top: -10px;
  }
  .frame {
    display: none;
  }
  .hours label {
    width: 110px;
  }
  #hero .caption {
    line-height: 0.7;
    position: static;
    padding: 10px;
    transform: none;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .over {
    top: -50px;
  }
  .offer {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .mobile-banner-reviews p {
    padding: 0 30px;
  }
  .offer > span {
    flex: 0 1 50%;
  }
  #hero .caption {
    padding: 10px 5px;
    bottom: 30px;
  }
  #hero .caption span {
    line-height: 1;
  }
  #hero .caption span:last-of-type {
    display: none;
  }
  #hero .caption a {
    display: block;
  }
  footer .pho {
    margin-top: 20px;
  }
  footer .pho:before {
    top: 0;
  }
  .hours:before {
    top: 10px;
  }
  .insurance h2 {
    margin: 10px 0 -15px;
    padding: 10px 0 15px;
  }
  .insurance .flex-ed div {
    margin: 15px 18px;
    flex: 1 1 100%;
  }
  .insurance .flex-ed {
    justify-content: center;
  }
}/*# sourceMappingURL=lp-emergency-2023-styles.css.map */